a {
    text-decoration: none;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.header1 {
    color: #222222; 
    font-size: 50px;
    line-height: 36px;
    font-weight: bold;
    font-family: 'BigDonstarve', Regular;
}

@font-face {
    font-family: 'BigDonstarve'; 
    src: url('fonts/bigdonstarve.ttf') format('truetype'); 
}

.para {
    font-style: normal; 
    font-weight: 300; 
    font-size: 18px; 
    line-height: 30px; 
    color: #7D7987;
}

.header2 {
    color: coral; 
    font-style: normal; 
    font-family: 'BigDonstarve', Regular;
    font-weight: 700; 
    font-size: 36px;
    line-height: 80px;
}

h3 {
    font-family: 'BigDonstarve', Regular;
    font-size: 36px; 
    font-weight: lighter;
}

.para_DST {
    font-family: 'BigDonstarve', Regular;
    font-weight: lighter;
    font-size: 22px;
    color: #7D7987;
}